body {
    font-family: Arial, sans-serif;
    background-color: #5a9aff;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #5a9aff;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #eda6de 3px solid;
    width: 100%;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

#showcase {
    min-height: 400px;
    text-align: center;
    color: #5a9aff;
    background: #e4ebff;
    padding: 100px 0;
    width: 100%;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#content {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #e4ebff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    padding: 16px;
    text-align: center;
    color: #5a9aff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100px;
    height: 100px;
}

.card h3 {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
