<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pop Shop</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1>Pop Shop</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add Figure</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="showcase">
    <div class="container">
        <h1>Welcome to my Pop Shop</h1>
        <p>Find the collection of my favorite Pop Figures here!</p>
    </div>
</div>
<div class="container" id="content">
    <h2>Available Figures</h2>
    <div class="card-container">
        <div class="card" th:each="figure : ${figures}">
            <img src="https://via.placeholder.com/100" alt="Figure Image">
            <h3 th:text="${figure.name}">Figure Name</h3>
            <p th:text="${figure.theme}">Figure Theme</p>
            <form th:action="@{/delete}" method="post">
                <input type="hidden" name="id" th:value="${figure.id}">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
